* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: linear-gradient(120deg, rgb(234, 142, 157), rgb(245, 152, 86));
}

.main {
    display: flex;
    margin-left: 300px;
}

.cat {
    background-color: white;
    border-radius: 20px;
    border: none;
    height: 500px;
    width: 400px;
}

.dog {
    background-color: white;
    border-radius: 20px;
    border: none;
    height: 500px;
    width: 400px;
    margin-left: 150px;
}

h1 {
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 50px;
    margin-left: 120px;
    color: white;
    background: linear-gradient(130deg,rgb(38, 223, 233), rgb(73, 73, 231));
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

img {
    height: 350px;
    width: 350px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 25px;
}

@media (max-width:400px) {
    .main {
        display: block;
    }

    .cat {
        display: block;
        height: 450px;
        width: 350px;
        margin: 0;
        transform: translate(-50px);
        margin-bottom: 20px;
        margin-top: 250px;
    }

    .dog {
        display: block;
        height: 450px;
        width: 350px;
        margin: 0;
        transform: translate(-50px);
    }

    img {
        height: 280px;
        width: 280px;
        margin-left: 35px;
    }

    h1 {
        margin-left: 100px;
    }

    button {
        margin-left: 100px;
    }
}